<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employement details</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<h1>Employee added successfully</h1>

<!--  -->
<p th:text="'Name: ' + ${newemp.Name}"/>
<p th:text="'Email: ' + ${newemp.Emailaddress}"/>
<p th:text="'Organization: ' + ${newemp.Organization}"/>
<p th:text="'StartDate: ' + ${newemp.StartDate}"/>
<p th:text="'EndDate: ' + ${newemp.EndDate}"/>

<p th:text="'Days worked: '+ ${cal.NumOfDays}" />
<!--initiates a GET back to /addproduct-->
<a href="/addbook">Add another Employee</a>
<a href="/displaydetails">Display Employee</a>
</body>
</html>